*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: azure;
}
.container{
    width: 370px;
    margin: 3.8rem auto;
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 20px 35px black;
}
.progress-container{
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;

}
h2{
    margin:10px;
    padding-bottom: 10px;
    text-transform: uppercase;

}
.progress.mask, .progress.fill{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
}
.progress.mask{
    clip:rect(0px,150px,150px, 75px);
}
.inside-circle{
    width: 122px;
    height: 122px;
    font-size: 2rem;
    position: absolute;
    background-color: #68ae89;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px 0 0 14px;

}
.mask.fill{
    clip: rect(0px, 75px, 150px, 0px);
    background: #75b03e;
}.mask.full, .progress.fill{
    animation: ease-in-out 3s;
    transform: rotate(150deg);

}
@keyframes fill{
    0%{
        transform: rotate(0deg);

    }
}
.inside-circle span{
    font-size: 1.2rem;
    margin-left: 0.2rem;
}
.line{
    margin-top: 2rem;
    border:  1px pink;

}
.progress-report{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-report h3{
    font-size: 1rem;
    color: blue;
}
.progress-report .line{
    height: 5rem;

}
.contact{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background: violet;
}
.contact img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid violet;
}
.contact.text{
    text-align: left;
    padding: 10px 20px;

}
.contact.text h3{
    text-transform: capitalize;
}
